@media screen and (max-width: 768px) {
    #upper{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    #textinput{
        width: 90%;
        border: 1px solid red;
        border-radius: 10px;
    }
    #add{
        width: 45%;
        align-items: center;
        border-radius: 3px;
        border: 1px green solid;
    }
    #add:active{
        background-color: hotpink;
    }
    #workList{
        width: 50vw ;
        height: 100%;
        overflow: auto;
    }
    #buttons{
        gap:10px;
        margin-right: 3%;
    }
    body{
        padding-bottom: 2vh;
    }
    .btn{
        height: 100px;
        margin-top: 10px;
        border: 1px solid #0a50f8;
        border-radius: 5px;
    }
    .btn:active{
        background-color: hotpink;
    }
}